<a href="https://colab.research.google.com/github/maxashoka3/Coronavirus-Tweet-Sentiment-Analysiis/blob/main/Coronavirus_Tweet_Sentiment_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Sentiment Analysis : Predicting sentiment of COVID-19 tweets</u></b>

## <b> Problem Description </b>

### This challenge asks you to build a classification model to predict the sentiment of COVID-19 tweets.The tweets have been pulled from Twitter and manual tagging has been done then.

### The names and usernames have been given codes to avoid any privacy concerns.

### You are given the following information:
1. Location
2. Tweet At
3. Original Tweet
4. Label

In [ ]:
import pandas as pd
import numpy as numpy 
import matplotlib.pyplot as plt
import seaborn as sns

In [269]:
# Reading the Coronavirus Tweet dataset
df = pd.read_csv("/content/drive/MyDrive/AlmaBetter/CoronaVirus Tweets/Coronavirus Tweets.csv", encoding='latin-1')

In [263]:
# First look 
df.head()

   UserName  ...           Sentiment
0      3799  ...             Neutral
1      3800  ...            Positive
2      3801  ...            Positive
3      3802  ...            Positive
4      3803  ...  Extremely Negative

[5 rows x 6 columns]

In [244]:
set(df['Sentiment'])

{'Extremely Negative', 'Extremely Positive', 'Negative', 'Neutral', 'Positive'}

First, will drop the **Screen Name** it is totally representated by **UserName**

In [270]:
df.drop(['UserName','ScreenName','Location','TweetAt'], inplace = True,axis = 1)

I think **OriginalTweet** is and importtant columns so lets**Look closely** at this columns..

##### OriginalTweet

In [ ]:
df['OriginalTweet'].head(50)

In [ ]:
df['OriginalTweet'][16]

'????? ????? ????? ????? ??\r\r\n?????? ????? ??????? ????????? ?\r\r\n#????_???? ????? ???? ?????? ? #????????? ?????? ?? 13 ???? ?? ?? ???? ?????? ?? ??\r\r\n#???_???????? ????? ??? ???? ? https://t.co/51bL8P6vZh'

In [ ]:
df['OriginalTweet'][31]

"'Hole' Foods...\r\r\n\r\r\n...images from the nicest grocery store in one of the richest neighborhoods in the United States.\r\r\n\r\r\nhttps://t.co/WnQSoMtkVI\r\r\n\r\r\n#BreakingNews #Breaking #Coronavirus #CoronavirusOutbreak #COVID19 #COVID?19 #COVID_19 #COVID2019 #Collapse"

We can observe **OriginalTweet** features consist of :
* Plain Text 
* Tagged Part
* Link Part
* hasTag Part

In [ ]:
pip install neattext

Requirement already satisfied: neattext in /usr/local/lib/python3.7/dist-packages (0.1.2)

##### NeatText

In [265]:
# installing  NeatText
import neattext as nt
from neattext.functions import clean_text

In [266]:
import neattext.functions as nfx

In [284]:
dir(nfx)

['BTC_ADDRESS_REGEX',
 'CURRENCY_REGEX',
 'CURRENCY_SYMB_REGEX',
 'Counter',
 'DATE_REGEX',
 'EMAIL_REGEX',
 'EMOJI_REGEX',
 'HASTAG_REGEX',
 'MASTERCard_REGEX',
 'MD5_SHA_REGEX',
 'MOST_COMMON_PUNCT_REGEX',
 'NUMBERS_REGEX',
 'PHONE_REGEX',
 'PoBOX_REGEX',
 'SPECIAL_CHARACTERS_REGEX',
 'STOPWORDS',
 'STOPWORDS_de',
 'STOPWORDS_en',
 'STOPWORDS_es',
 'STOPWORDS_fr',
 'STOPWORDS_ru',
 'STOPWORDS_yo',
 'STREET_ADDRESS_REGEX',
 'TextFrame',
 'URL_PATTERN',
 'USER_HANDLES_REGEX',
 'VISACard_REGEX',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__generate_text',
 '__loader__',
 '__name__',
 '__numbers_dict',
 '__package__',
 '__spec__',
 '_lex_richness_herdan',
 '_lex_richness_maas_ttr',
 'clean_text',
 'defaultdict',
 'digit2words',
 'extract_btc_address',
 'extract_currencies',
 'extract_currency_symbols',
 'extract_dates',
 'extract_emails',
 'extract_emojis',
 'extract_hashtags',
 'extract_html_tags',
 'extract_mastercard_addr',
 'extract_md5sha',
 'extract_numbers',
 'extract_pattern',
 'extract_phone_numbers',
 'extract_postoffice_box',
 'extract_shortwords',
 'extract_special_characters',
 'extract_stopwords',
 'extract_street_address',
 'extract_terms_in_bracket',
 'extract_urls',
 'extract_userhandles',
 'extract_visacard_addr',
 'fix_contractions',
 'generate_sentence',
 'hamming_distance',
 'inverse_df',
 'lexical_richness',
 'markov_chain',
 'math',
 'nlargest',
 'normalize',
 'num2words',
 'random',
 're',
 'read_txt',
 'remove_bad_quotes',
 'remove_btc_address',
 'remove_currencies',
 'remove_currency_symbols',
 'remove_custom_pattern',
 'remove_custom_words',
 'remove_dates',
 'remove_emails',
 'remove_emojis',
 'remove_hashtags',
 'remove_html_tags',
 'remove_mastercard_addr',
 'remove_md5sha',
 'remove_multiple_spaces',
 'remove_non_ascii',
 'remove_numbers',
 'remove_phone_numbers',
 'remove_postoffice_box',
 'remove_puncts',
 'remove_punctuations',
 'remove_shortwords',
 'remove_special_characters',
 'remove_stopwords',
 'remove_street_address',
 'remove_terms_in_bracket',
 'remove_urls',
 'remove_userhandles',
 'remove_visacard_addr',
 'replace_bad_quotes',
 'replace_currencies',
 'replace_currency_symbols',
 'replace_dates',
 'replace_emails',
 'replace_emojis',
 'replace_numbers',
 'replace_phone_numbers',
 'replace_special_characters',
 'replace_term',
 'replace_urls',
 'string',
 'term_freq',
 'to_txt',
 'word_freq',
 'word_length_freq']

###### Handling Hashtag

In [285]:
df['extracted_hashtages'] = df['OriginalTweet'].apply(nfx.extract_hashtags)

In [286]:
df[['OriginalTweet','extracted_hashtages']]

                                           OriginalTweet                                extracted_hashtages
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...                                                 []
1      advice Talk to your neighbours family to excha...                                                 []
2      Coronavirus Australia: Woolworths to give elde...                                                 []
3      My food stock is not the only one which is emp...  [#COVID19france, #COVID_19, #COVID19, #coronav...
4      Me, ready to go at supermarket during the #COV...  [#COVID19, #coronavirus, #CoronavirusFrance, #...
...                                                  ...                                                ...
41152  Airline pilots offering to stock supermarket s...                                   [#NZ, #COVID-19]
41153  Response to complaint not provided citing COVI...                                                 []
41154  You know itÂs getting tough when @KameronWild...                       [#coronavirus, #toiletpaper]
41155  Is it wrong that the smell of hand sanitizer i...             [#coronavirus, #COVID19, #coronavirus]
41156  @TartiiCat Well new/used Rift S are going for ...                                                 []

[41157 rows x 2 columns]

In [287]:
# Removing Hashtags
df['clean_tweet'] = df['OriginalTweet'].apply(nfx.remove_hashtags)

In [288]:
df[['OriginalTweet','clean_tweet']]

                                           OriginalTweet                                        clean_tweet
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...
1      advice Talk to your neighbours family to excha...  advice Talk to your neighbours family to excha...
2      Coronavirus Australia: Woolworths to give elde...  Coronavirus Australia: Woolworths to give elde...
3      My food stock is not the only one which is emp...  My food stock is not the only one which is emp...
4      Me, ready to go at supermarket during the #COV...  Me, ready to go at supermarket during the   ou...
...                                                  ...                                                ...
41152  Airline pilots offering to stock supermarket s...  Airline pilots offering to stock supermarket s...
41153  Response to complaint not provided citing COVI...  Response to complaint not provided citing COVI...
41154  You know itÂs getting tough when @KameronWild...  You know itÂs getting tough when @KameronWild...
41155  Is it wrong that the smell of hand sanitizer i...  Is it wrong that the smell of hand sanitizer i...
41156  @TartiiCat Well new/used Rift S are going for ...  @TartiiCat Well new/used Rift S are going for ...

[41157 rows x 2 columns]

###### Removing Tagged User

In [289]:

df['clean_tweet'] = df['clean_tweet'].apply(lambda x: nfx.remove_userhandles(x))

In [290]:
df[['OriginalTweet','clean_tweet']]

                                           OriginalTweet                                        clean_tweet
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...        https://t.co/iFz9FAn2Pa and https://t.co...
1      advice Talk to your neighbours family to excha...  advice Talk to your neighbours family to excha...
2      Coronavirus Australia: Woolworths to give elde...  Coronavirus Australia: Woolworths to give elde...
3      My food stock is not the only one which is emp...  My food stock is not the only one which is emp...
4      Me, ready to go at supermarket during the #COV...  Me, ready to go at supermarket during the   ou...
...                                                  ...                                                ...
41152  Airline pilots offering to stock supermarket s...  Airline pilots offering to stock supermarket s...
41153  Response to complaint not provided citing COVI...  Response to complaint not provided citing COVI...
41154  You know itÂs getting tough when @KameronWild...  You know itÂs getting tough when    is ration...
41155  Is it wrong that the smell of hand sanitizer i...  Is it wrong that the smell of hand sanitizer i...
41156  @TartiiCat Well new/used Rift S are going for ...    Well new/used Rift S are going for $700.00 o...

[41157 rows x 2 columns]

###### Removing the Multiple WhiteSpaces

In [291]:
df['clean_tweet'] = df['clean_tweet'].apply(nfx.remove_multiple_spaces)
df[['OriginalTweet','clean_tweet']]

                                           OriginalTweet                                        clean_tweet
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...   https://t.co/iFz9FAn2Pa and https://t.co/xX6g...
1      advice Talk to your neighbours family to excha...  advice Talk to your neighbours family to excha...
2      Coronavirus Australia: Woolworths to give elde...  Coronavirus Australia: Woolworths to give elde...
3      My food stock is not the only one which is emp...  My food stock is not the only one which is emp...
4      Me, ready to go at supermarket during the #COV...  Me, ready to go at supermarket during the outb...
...                                                  ...                                                ...
41152  Airline pilots offering to stock supermarket s...  Airline pilots offering to stock supermarket s...
41153  Response to complaint not provided citing COVI...  Response to complaint not provided citing COVI...
41154  You know itÂs getting tough when @KameronWild...  You know itÂs getting tough when is rationing...
41155  Is it wrong that the smell of hand sanitizer i...  Is it wrong that the smell of hand sanitizer i...
41156  @TartiiCat Well new/used Rift S are going for ...   Well new/used Rift S are going for $700.00 on...

[41157 rows x 2 columns]

In [292]:
#Cleaning urls
df['clean_tweet'] = df['clean_tweet'].apply(nfx.remove_urls)
df[['OriginalTweet','clean_tweet']]

                                           OriginalTweet                                        clean_tweet
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...                                          and  and
1      advice Talk to your neighbours family to excha...  advice Talk to your neighbours family to excha...
2      Coronavirus Australia: Woolworths to give elde...  Coronavirus Australia: Woolworths to give elde...
3      My food stock is not the only one which is emp...  My food stock is not the only one which is emp...
4      Me, ready to go at supermarket during the #COV...  Me, ready to go at supermarket during the outb...
...                                                  ...                                                ...
41152  Airline pilots offering to stock supermarket s...  Airline pilots offering to stock supermarket s...
41153  Response to complaint not provided citing COVI...  Response to complaint not provided citing COVI...
41154  You know itÂs getting tough when @KameronWild...  You know itÂs getting tough when is rationing...
41155  Is it wrong that the smell of hand sanitizer i...  Is it wrong that the smell of hand sanitizer i...
41156  @TartiiCat Well new/used Rift S are going for ...   Well new/used Rift S are going for $700.00 on...

[41157 rows x 2 columns]

###### Removing the Stop word

In [ ]:
dir(nfx)

In [294]:
#remove_stopwords
# Remove Stopwords
df['clean_tweet'] = df['clean_tweet'].apply(nfx.remove_stopwords)
df[['OriginalTweet','clean_tweet']]

                                           OriginalTweet                                        clean_tweet
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...
1      advice Talk to your neighbours family to excha...  advice Talk neighbours family exchange phone n...
2      Coronavirus Australia: Woolworths to give elde...  Coronavirus Australia: Woolworths elderly, dis...
3      My food stock is not the only one which is emp...  food stock empty... PLEASE, panic, FOOD need. ...
4      Me, ready to go at supermarket during the #COV...  Me, ready supermarket outbreak. I'm paranoid, ...
...                                                  ...                                                ...
41152  Airline pilots offering to stock supermarket s...  Airline pilots offering stock supermarket shel...
41153  Response to complaint not provided citing COVI...  Response complaint provided citing COVID-19 re...
41154  You know itÂs getting tough when @KameronWild...  know itÂs getting tough rationing toilet pape...
41155  Is it wrong that the smell of hand sanitizer i...       wrong smell hand sanitizer starting turn on?
41156  @TartiiCat Well new/used Rift S are going for ...  new/used Rift going $700.00 Amazon rn normal m...

[41157 rows x 2 columns]

In [295]:
df['clean_tweet'][41156]

'new/used Rift going $700.00 Amazon rn normal market price usually $400.00 . Prices crazy right vr headsets HL Alex announced worse COVID-19. whethe'

The tweet has still **backslash left(\)** so we will remove it

In [296]:
# Replacing blackslash with space
df['clean_tweet'].str.replace('/',' ')

0
1        advice Talk neighbours family exchange phone n...
2        Coronavirus Australia: Woolworths elderly, dis...
3        food stock empty... PLEASE, panic, FOOD need. ...
4        Me, ready supermarket outbreak. I'm paranoid, ...
                               ...
41152    Airline pilots offering stock supermarket shel...
41153    Response complaint provided citing COVID-19 re...
41154    know itÂs getting tough rationing toilet pape...
41155         wrong smell hand sanitizer starting turn on?
41156    new used Rift going $700.00 Amazon rn normal m...
Name: clean_tweet, Length: 41157, dtype: object

In [297]:
# Removing the different symbol
# remove special characters, numbers, punctuations
df['clean_tweet'] = df['clean_tweet'].str.replace('[^a-zA-Z#]+',' ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [278]:
df[['OriginalTweet','clean_tweet']]

                                           OriginalTweet                                        clean_tweet
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...                                           and and
1      advice Talk to your neighbours family to excha...  advice Talk to your neighbours family to excha...
2      Coronavirus Australia: Woolworths to give elde...  Coronavirus Australia Woolworths to give elder...
3      My food stock is not the only one which is emp...  My food stock is not the only one which is emp...
4      Me, ready to go at supermarket during the #COV...  Me ready to go at supermarket during the outbr...
...                                                  ...                                                ...
41152  Airline pilots offering to stock supermarket s...  Airline pilots offering to stock supermarket s...
41153  Response to complaint not provided citing COVI...  Response to complaint not provided citing COVI...
41154  You know itÂs getting tough when @KameronWild...  You know it s getting tough when is rationing ...
41155  Is it wrong that the smell of hand sanitizer i...  Is it wrong that the smell of hand sanitizer i...
41156  @TartiiCat Well new/used Rift S are going for ...   Well new used Rift S are going for on Amazon ...

[41157 rows x 2 columns]

In [298]:
df['clean_tweet'][41156]

'new used Rift going Amazon rn normal market price usually Prices crazy right vr headsets HL Alex announced worse COVID whethe'

We have almost cleaned our Tweet but still its has lots of shorts character

In [299]:
# remove short words
df['clean_tweet'] = df['clean_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w) > 2]))

In [300]:
df['clean_tweet'][4]

'ready supermarket outbreak paranoid food stock litteraly empty thing please panic causes shortage'

In [301]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [302]:
import string 
from nltk.corpus import stopwords

In [303]:
def text_process(msg):
  nopunc = [char for char in msg if char not in string.punctuation]
  nopunc = ''.join(nopunc)
  return ' '.join([word for word in nopunc.split() if word.lower() not in stopwords.words('english')])

In [304]:
df['clean_tweet'] = df['clean_tweet'].apply(text_process)
df[['OriginalTweet','clean_tweet']]

                                           OriginalTweet                                        clean_tweet
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...
1      advice Talk to your neighbours family to excha...  advice Talk neighbours family exchange phone n...
2      Coronavirus Australia: Woolworths to give elde...  Coronavirus Australia Woolworths elderly disab...
3      My food stock is not the only one which is emp...  food stock empty PLEASE panic FOOD need Stay c...
4      Me, ready to go at supermarket during the #COV...  ready supermarket outbreak paranoid food stock...
...                                                  ...                                                ...
41152  Airline pilots offering to stock supermarket s...  Airline pilots offering stock supermarket shel...
41153  Response to complaint not provided citing COVI...  Response complaint provided citing COVID relat...
41154  You know itÂs getting tough when @KameronWild...  know getting tough rationing toilet paper mart...
41155  Is it wrong that the smell of hand sanitizer i...           wrong smell hand sanitizer starting turn
41156  @TartiiCat Well new/used Rift S are going for ...  new used Rift going Amazon normal market price...

[41157 rows x 2 columns]

In [ ]:
df[df['clean_tweet'] == '']

                                           OriginalTweet  ... clean_tweet
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...  ...
16     ????? ????? ????? ????? ??\r\r\n?????? ????? ?...  ...
186    @olson_jessie @NashTerrance @MccrorieJim @Army...  ...
397    ??????? ???? ???? ??? ??? ???? ??? ????? ?????...  ...
583    #????_???_?????? ???? ???????..? ?? ?????? ?? ...  ...
...                                                  ...  ...         ...
38546         or we would all have  #billgates  #drfauci  ...
39996  I made it through the #pandemic 2020.\r\r\n\r\...  ...
40511  @jamisonglory @DailyMail This is what #antifa ...  ...
40893                                    Together We Can  ...
41141  #Coronavirus ?? ????? ??? ????? ?? ??? ???????...  ...

[66 rows x 4 columns]

In [ ]:
df.isna().sum()

In [ ]:
# Selecting non- blank
df = df[df['clean_tweet'] != '']

In [ ]:
df[df['clean_tweet'] == ''].shape,df.shape

((0, 4), (41091, 4))

### Features Extraction

In [ ]:
new_df = df[['clean_tweet','Sentiment']]

In [ ]:
new_df.reset_index()

       index  ...           Sentiment
0          1  ...            Positive
1          2  ...            Positive
2          3  ...            Positive
3          4  ...  Extremely Negative
4          5  ...            Positive
...      ...  ...                 ...
41086  41152  ...             Neutral
41087  41153  ...  Extremely Negative
41088  41154  ...            Positive
41089  41155  ...             Neutral
41090  41156  ...            Negative

[41091 rows x 3 columns]

In [ ]:
df['Sentiment'].value_counts()

Positive              11420
Negative               9913
Neutral                7653
Extremely Positive     6624
Extremely Negative     5481
Name: Sentiment, dtype: int64

In [ ]:
# tokenizing tweet into new variables
tokenized_tweet = df['clean_tweet'].apply(lambda x: x.split())

In [245]:
nltk.download('wordnet')
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [246]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet as wn
 
lemmatizer = WordNetLemmatizer()

# apply stemmer for tokenized_tweet
df['lemmatized_word']= tokenized_tweet.apply(lambda x: [lemmatizer.lemmatize(i) for i in x])

In [247]:
df['lemmatized_word']

1        [advic, talk, neighbour, famili, exchang, phon...
2        [coronaviru, australia, woolworth, elderli, di...
3        [food, stock, empti, plea, panic, food, need, ...
4        [readi, supermarket, outbreak, paranoid, food,...
5        [news, region, confirm, covid, case, came, sul...
                               ...
41152    [airlin, pilot, offer, stock, supermarket, she...
41153    [respon, complaint, provid, cite, covid, relat...
41154    [know, get, tough, ration, toilet, paper, mart...
41155             [wrong, smell, hand, sanit, start, turn]
41156    [new, use, rift, go, amazon, normal, market, p...
Name: lemmatized_word, Length: 41091, dtype: object

In [252]:
df.head(
    
)

                                       OriginalTweet  ...                                    lemmatized_word
1  advice Talk to your neighbours family to excha...  ...  [advic, talk, neighbour, famili, exchang, phon...
2  Coronavirus Australia: Woolworths to give elde...  ...  [coronaviru, australia, woolworth, elderli, di...
3  My food stock is not the only one which is emp...  ...  [food, stock, empti, plea, panic, food, need, ...
4  Me, ready to go at supermarket during the #COV...  ...  [readi, supermarket, outbreak, paranoid, food,...
5  As news of the regionÂs first confirmed COVID...  ...  [news, region, confirm, covid, case, came, sul...

[5 rows x 6 columns]

In [254]:
df['Tweet']  = tokenized_tweet

In [ ]:
df.head()

In [256]:
new_df = df[['Tweet','Sentiment']]

In [257]:
new_df.head()

                                               Tweet           Sentiment
1  [advic, talk, neighbour, famili, exchang, phon...            Positive
2  [coronaviru, australia, woolworth, elderli, di...            Positive
3  [food, stock, empti, plea, panic, food, need, ...            Positive
4  [readi, supermarket, outbreak, paranoid, food,...  Extremely Negative
5  [news, region, confirm, covid, case, came, sul...            Positive

In [ ]:
df['Sentiment'].value_counts()

Positive              11422
Negative               9917
Neutral                7713
Extremely Positive     6624
Extremely Negative     5481
Name: Sentiment, dtype: int64

In [ ]:
new_df.head()

                                                                                                                                                                                                     Tweet           Sentiment
0                                                                                                              h t t p   i f z   f a n   a n d   h t t p   g h g f z c c   a n d   h t t p   n l z d x n o             Neutral
1  a d v i c   t a l k   y o u r   n e i g h b o u r   f a m i l i   e x c h a n g   p h o n e   n u m b e r   c r e a t   c o n t a c t   l i s t   w i t h   p h o n e   n u m b e r   n e i g h b o ...            Positive
2        c o r o n a v i r u   a u s t r a l i a   w o o l w o r t h   g i v e   e l d e r l i   d i s a b l   d e d i c   s h o p   h o u r   a m i d   c o v i d   o u t b r e a k   h t t p   b i n c a            Positive
3  f o o d   s t o c k   n o t   t h e   o n l i   o n e   w h i c h   e m p t i   p l e a s   d o n   p a n i c   t h e r e   w i l l   e n o u g h   f o o d   f o r   e v e r y o n   y o u   n o t ...            Positive
4  r e a d i   s u p e r m a r k e t   d u r e   t h e   # c o v i d   o u t b r e a k   n o t   b e c a u s   p a r a n o i d   b u t   b e c a u s   f o o d   s t o c k   l i t t e r a l i   e m p ...  Extremely Negative

In [ ]:
new_df.isnull().sum()

Tweet        0
Sentiment    0
dtype: int64

In [ ]:
new_df.head(7)

                                         clean_tweet           Sentiment
1  advice Talk neighbours family exchange phone n...            Positive
2  Coronavirus Australia Woolworths elderly disab...            Positive
3  food stock empty PLEASE panic FOOD need Stay c...            Positive
4  ready supermarket outbreak paranoid food stock...  Extremely Negative
5  news region confirmed COVID case came Sullivan...            Positive
6  Cashier grocery store sharing insights prove c...            Positive
7                 supermarket today buy toilet paper             Neutral

In [259]:
from sklearn.model_selection import train_test_split

train,valid = train_test_split(new_df,test_size = 0.2,random_state=0,stratify = new_df.Sentiment.values) #stratification means that the train_test_split method returns training and test subsets that have the same proportions of class labels as the input dataset.
print("train shape : ", train.shape)
print("valid shape : ", valid.shape)

train shape :  (32872, 2)
valid shape :  (8219, 2)

In [261]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
stop = list(stopwords.words('english'))
vectorizer = CountVectorizer(decode_error = 'replace',stop_words = stop)

X_train = vectorizer.fit_transform(train.Tweet.values)
X_valid = vectorizer.transform(valid.Tweet.values)

y_train = train.Sentiment.values
y_valid = valid.Sentiment.values

print("X_train.shape : ", X_train.shape)
print("X_train.shape : ", X_valid.shape)
print("y_train.shape : ", y_train.shape)
print("y_valid.shape : ", y_valid.shape)

AttributeError: ignored

In [ ]:
import pandas as pd
import numpy as np
from numpy import percentile
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
import re # for regular expressions
import pandas as pd 
pd.set_option("display.max_colwidth", 200) 
import string
import nltk # for text manipulation
from nltk.stem.porter import *
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from tqdm import tqdm
from gensim.models.doc2vec import LabeledSentence
import gensim
from sklearn.linear_model import LogisticRegression
from scipy import stats 
from sklearn import metrics 
from sklearn.metrics import mean_squared_error,mean_absolute_error, make_scorer,classification_report,confusion_matrix,accuracy_score,roc_auc_score,roc_curve
from sklearn.model_selection import train_test_split,cross_val_score,KFold
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.naive_bayes import BernoulliNB
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
import xgboost as xgb
import warnings 
warnings.filterwarnings("ignore")

%matplotlib inline

In [ ]:
from sklearn.linear_model import SGDClassifier

sgd_clf = SGDClassifier(loss = 'hinge', penalty = 'l2', random_state=0)

sgd_clf.fit(X_train,y_train)

sgd_prediction = sgd_clf.predict(X_valid)
sgd_accuracy = accuracy_score(y_valid,sgd_prediction)
print("Training accuracy Score    : ",sgd_clf.score(X_train,y_train))
print("Validation accuracy Score : ",sgd_accuracy )
print(classification_report(sgd_prediction,y_valid))

Training accuracy Score    :  0.887744874715262
Validation accuracy Score :  0.5722789115646258
                    precision    recall  f1-score   support

Extremely Negative       0.70      0.60      0.64      1271
Extremely Positive       0.70      0.66      0.68      1398
          Negative       0.44      0.50      0.47      1754
           Neutral       0.74      0.60      0.66      1888
          Positive       0.45      0.53      0.49      1921

          accuracy                           0.57      8232
         macro avg       0.60      0.58      0.59      8232
      weighted avg       0.59      0.57      0.58      8232

In [ ]:
#takes huge amount of time to execute
import xgboost as xgb

xgboost_clf = xgb.XGBClassifier()

xgboost_clf.fit(X_train, y_train)

xgb_prediction = xgboost_clf.predict(X_valid)
xgb_accuracy = accuracy_score(y_valid,xgb_prediction)
print("Training accuracy Score    : ",xgboost_clf.score(X_train,y_train))
print("Validation accuracy Score : ",xgb_accuracy )
print(classification_report(xgb_prediction,y_valid))

Training accuracy Score    :  0.49160212604403947
Validation accuracy Score :  0.47023809523809523
                    precision    recall  f1-score   support

Extremely Negative       0.38      0.62      0.47       673
Extremely Positive       0.42      0.67      0.52       842
          Negative       0.38      0.48      0.43      1600
           Neutral       0.50      0.45      0.47      1716
          Positive       0.59      0.40      0.48      3401

          accuracy                           0.47      8232
         macro avg       0.46      0.52      0.47      8232
      weighted avg       0.50      0.47      0.47      8232

In [ ]:
#searching the email
pattern = "[a-zA-Z0-9]+@[a-zA-Z]+\.(com|edu|net)"

In [ ]:
user_input = input()
if(re.search(pattern, user_input)):
  print('valid email')
else:
  print("invalid eamiL")

ashoka_hello@gmail.com
valid email

In [ ]:
pattern = '(\d\d\d)-(\d\d\d)-(\d\d\d\d)'
new_pattern = r"\1\2\3"
new_input = input()
new_user_input = re.sub(pattern,new_pattern,new_input)
print(new_user_input)

20-234-2019
20-234-2019

In [ ]:
text = ''' Elon musk's phone number is 2293847899, 
and his office number is (876)-132-234
 call him if you have any question on dodgecoin'''
pattern = '\(\d{3}\)-\d{3}-\d{3}|\d{10}'
matches = re.findall(pattern,text)
matches

['2293847899', '(876)-132-234']

In [ ]:
df['OriginalTweet'][16]

'????? ????? ????? ????? ??\r\r\n?????? ????? ??????? ????????? ?\r\r\n#????_???? ????? ???? ?????? ? #????????? ?????? ?? 13 ???? ?? ?? ???? ?????? ?? ??\r\r\n#???_???????? ????? ??? ???? ? https://t.co/51bL8P6vZh'

In [ ]:
pattern = '\?{3,}'

In [ ]:
list_tweet =[]
count = 0
for tweet in df['OriginalTweet']:
  
  erro = re.findall(pattern,tweet)
  if len(erro) > 1:
    
    count += 1
print(count)

183

In [ ]:
list_tweet

In [ ]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
pattern = '' # todo: type your regex here

re.findall(pattern, text)

In [ ]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
pattern = 'https://twitter\.com/([a-zA-Z0-9_]+)'

re.findall(pattern, text)

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']